/* /\/\/\/\/\/\/\/\/ MOBILE BASE STYLES /\/\/\/\/\/\/\/\/ */

@media only screen and (max-width: 480px){
	
	/* /\/\/\/\/\/\/ CLIENT-SPECIFIC MOBILE STYLES /\/\/\/\/\/\/ */
	body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:none !important;} /* Prevent Webkit platforms from changing default text sizes */
          body{width:100% !important; min-width:100% !important;} /* Prevent iOS Mail from adding padding to the body */

	/* /\/\/\/\/\/\/ MOBILE RESET STYLES /\/\/\/\/\/\/ */
	#bodyCell{padding:10px !important;}

	/* /\/\/\/\/\/\/ MOBILE TEMPLATE STYLES /\/\/\/\/\/\/ */

	/* ======== Page Styles ======== */

	#templateContainer{
		width: 100% !important;
		max-width:600px !important;
	}

	/* ======== Header Styles ======== */

	#templatePreheader{display:none !important;} /* Hide the template preheader to save space */

	#headerImage{
		height:auto !important;
	}

	/* ======== Column Styles ======== */

	.templateColumnContainer{display:block !important; width:100% !important;}
	
	.columnImage{
		height:auto !important;
	}

	/* ======== Footer Styles ======== */

	.footerContent a{display:block !important;} /* Place footer social and utility links on their own lines, for easier access */
}