$system-font-family: Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
$font-family: Google Sans, $system-font-family;
$font-weight-normal: 400;
$font-weight-bold: 700;
$headings-font-weight: $font-weight-bold;

$font-size: 12px;
$line-height: 175%;

$primary: #0000CC;
$secondary: #0000CC;

$danger: #CC0000;

$white: #FFFFFF;
$black: #000000;
$grey: #CCCCCC;
$grey-light: #F5F5F5;
$grey-dark: #AAAAAA;
$grey-darker: #999999;

$body-colour: #333333;
$headings-colour: $body-colour;