@import 'base/mobile';


@media only screen and (max-width: 480px){

	/* ======== Page Styles ======== */

	h1{
		font-size:24px !important;
		line-height:100% !important;
	}
	
	h2{
		font-size:20px !important;
		line-height:100% !important;
	}

	h3{
		font-size:18px !important;
		line-height:100% !important;
	}

	h4{
		font-size:16px !important;
		line-height:100% !important;
	}

	/* ======== Header Styles ======== */

	#headerImage{
		max-width:600px !important;
		width:100% !important;
	}
	
	.headerContent{
		font-size:20px !important;
		line-height:125% !important;
	}

	/* ======== Body Styles ======== */

	.bodyContent{
		font-size:18px !important;
		line-height:125% !important;
	}

	/* ======== Column Styles ======== */

	.columnImage{
		max-width:480px !important;
		width:100% !important;
	}
	
	.columnContent{
		font-size:16px !important;
		line-height:125% !important;
	}

	/* ======== Footer Styles ======== */

	.footerContent{
		font-size:14px !important;
		line-height:115% !important;
	}
}