@import 'base/reset';
@import 'base/variables';


/* ========== Typography ========== */

h1, .h1 {
	display: block;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	color: $headings-colour;
	font-family: $font-family;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-weight: $headings-font-weight;
	mso-line-height-rule: exactly;
	line-height: 100%;
	letter-spacing: normal;
	text-align: left;
}

h2, .h2 {
	display: block;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	color: $headings-colour;
	font-family: $font-family;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-weight: $headings-font-weight;
	mso-line-height-rule: exactly;
	line-height: 100%;
	letter-spacing: normal;
	text-align: left;
}

h3, .h3 {
	display: block;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	color: $headings-colour;
	font-family: $font-family;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	mso-line-height-rule: exactly;
	line-height: 100%;
	letter-spacing: normal;
	text-align: left;
}

h4, .h4 {
	display: block;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	color: $headings-colour;
	font-family: $font-family;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	mso-line-height-rule: exactly;
	line-height: 100%;
	letter-spacing: normal;
	text-align: left;
}

p {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

strong,
b {
	font-weight: $font-weight-bold;
}

.img-fluid {
	display: block;
	max-width: 100%;
}

/* ========== Layout ========== */

#templateContainer {
	width: 600px;
	background-color: #FFFFFF;
}

#bodyCell {
	padding: 20px;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.p-0 {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.pt-0 {
	padding-top: 0;
}
.pr-0 {
	padding-right: 0;
}
.pb-0 {
	padding-bottom: 0;
}
.pl-0 {
	padding-left: 0;
}

.p-20 {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.pt-20 {
	padding-top: 20px;
}
.pr-20 {
	padding-right: 20px;
}
.pb-20 {
	padding-bottom: 20px;
}
.pl-20 {
	padding-left: 20px;
}

.p-30 {
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}
.pt-30 {
	padding-top: 30px;
}
.pr-30 {
	padding-right: 30px;
}
.pb-30 {
	padding-bottom: 30px;
}
.pl-30 {
	padding-left: 30px;
}

.hr {
	margin-top: 0;
	margin-bottom: 0;
	height: 1px;
	border: none;
	background-color: $grey;
}

.hr-img {
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	height: 1px;
}


/* ========== Body Styles ========== */

body, 
#bodyTable {
	font-family: $font-family;
}


/* ========== Header Styles ========== */

.preheader {
	width: 600px;
}

.preheader__content {
	color: $grey-darker;
	font-family: $font-family;
	font-size: 10px;
	mso-line-height-rule: exactly;
	line-height: 125%;
	
	a:link, 
	a:visited, /* Yahoo! Mail Override */ 
	a .yshortcuts /* Yahoo! Mail Override */ {
		color: $grey-darker;
		font-weight: inherit;
		text-decoration: underline;
	}
}

.header {
	background-color: $grey-darker;
	
	td {
		background-color: $grey-darker;
	}
	
	a:link, 
	a:visited, /* Yahoo! Mail Override */ 
	a .yshortcuts, 
	a span /* Yahoo! Mail Override */ {
		color: $white;
		font-weight: inherit;
		text-decoration: underline;
	}
}

.header__content {
	text-align: left;
}

.header__title {
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 10px;
	color: $white;
	font-family: $font-family;
	font-size: 18px;
	mso-line-height-rule: exactly;
	line-height: 1;
}

.header__date {
	color: $white;
	font-family: $font-family;
	font-size: 12px;
	mso-line-height-rule: exactly;
	line-height: 1;
}


/* ========== Intro ========== */

.intro {
	text-align: center;
}

.intro__content {
	padding-top: 40px;
	padding-right: 60px;
	padding-bottom: 40px;
	padding-left: 60px;
	color: $grey-dark;
	font-family: $font-family;
	font-size: $font-size;
	mso-line-height-rule: exactly;
	line-height: $line-height;
	
	a:link, 
	a:visited, /* Yahoo! Mail Override */ 
	a .yshortcuts /* Yahoo! Mail Override */ {
		color: darken($grey-dark, 20%);
		font-weight: inherit;
		text-decoration: underline;
	}
}

.intro-button {
  display: block;
	width: 144px;
	height: 40px;
	color: $primary;
	text-align: center;
	text-decoration: none;
}


/* ========== Article ========== */

.article {
}

.article__image-container {
	padding-bottom: 20px;
}

.article__image-container--left {
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.article__image-container--right {
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.article__image {
}

.article__content {
	font-size: 14px;
	font-family: $font-family;
	font-size: $font-size;
	mso-line-height-rule: exactly;
	line-height: $line-height;
	font-weight: normal;
	text-align: left;
	
	a:link, 
	a:visited, /* Yahoo! Mail Override */ 
	a .yshortcuts, 
	a span /* Yahoo! Mail Override */ {
		color: $primary;
		font-weight: inherit;
		text-decoration: underline;
	}
}

.article--hero {
	background-color: $grey-light;
	
	.article__image-container--hero {
		padding-bottom: 0;
	}
}

.article--two-columns {
	
}

.article__column {
	width: 260px;
}

.article__column--left {
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.article__column--right {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.article--image-left {
	
	.article__image-container {
		padding-bottom: 0;
		background-color: $grey-light;
	}
	.article__content-container {
		background-color: $grey-light;
	}
}

.article--image-right {
	
	.article__image-container {
		padding-bottom: 0;
		background-color: $grey-light;
	}
	.article__content-container {
		background-color: $grey-light;
	}
}


/* ========== Gallery ========== */

.gallery {

	a:link, 
	a:visited, /* Yahoo! Mail Override */ 
	a .yshortcuts /* Yahoo! Mail Override */ {
		color: #E21935;
		font-weight: inherit;
		text-decoration: underline;
	}
}

.gallery__image-container {
	padding-bottom: 20px;
}

.gallery__image-container--left {
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.gallery__image-container--centre {
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.gallery__image-container--right {
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.gallery__image-container--bottom {
	padding-bottom: 0;
}

.gallery__image {
}

.gallery__content {
	font-size: 14px;
	font-family: $font-family;
	font-size: $font-size;
	mso-line-height-rule: exactly;
	line-height: $line-height;
	font-weight: normal;
	text-align: left;
	
	a:link, 
	a:visited, /* Yahoo! Mail Override */ 
	a .yshortcuts, 
	a span /* Yahoo! Mail Override */ {
		color: $primary;
		font-weight: inherit;
		text-decoration: underline;
	}
}


/* ========== Table ========== */

.table {
    mso-padding-alt: 5px 5px 5px 5px;
}

.table__heading {
	padding: 5px 15px;
	color: $grey-dark;
	font-family: $font-family;
	font-size: 13px;
	mso-line-height-rule: exactly;
	line-height: 1;
	font-weight: 500;
	background-color: $grey;
}

.table__tr {
	color: $grey-dark;
	background-color: #FFFFFF;
}

.table__tr--even {
	background-color: $grey-light;
}

.table__td {
	color: $grey-dark;
	font-family: $font-family;
	font-size: $font-size;
	mso-line-height-rule: exactly;
	line-height: 1;
}

.table__td--left {
	padding-left: 15px;
	text-align: left;
}

.table__td--right {
	padding-right: 15px;
	text-align: right;
}


/* ========== Notice ========== */

.notice {
}

.notice__content {
	color: $grey-darker;
	font-family: $font-family;
	font-size: $font-size;
	mso-line-height-rule: exactly;
	line-height: $line-height;
	border: 1px solid $grey-dark;
	
	h4 {
		color: $grey-darker;
  }
	a:link, 
	a:visited, /* Yahoo! Mail Override */ 
	a .yshortcuts, 
	a span /* Yahoo! Mail Override */ {
		color: $grey-darker;
		font-weight: $font-weight-normal;
		text-decoration: underline;
	}
}


/* ========== Footer Styles ========== */

#templateFooter {
	background-color: $grey-light;
}

.footer__content {
	color: $grey-darker;
	font-family: $font-family;
	font-size: 10px;
	font-weight: $font-weight-normal;
	mso-line-height-rule: exactly;
	line-height: $line-height;
	text-align: left;
	
	p {
	  color: $grey-darker;
	}
	
	a:link, 
	a:visited, /* Yahoo! Mail Override */ 
	a .yshortcuts, 
	a span /* Yahoo! Mail Override */ {
		color: $grey-darker;
		font-weight: inherit;
		text-decoration: underline;
	}
}

.footer__divider {
	background-color: $grey-dark;
}
