<!-- Title and text -->

<table border="0" cellpadding="0" cellspacing="0" width="600" class="article article--text">
    <tr>
        <td valign="top" class="article__content p-20" mc:label="Content" mc:edit="articleContent">
            <h2>Article title</h2>
            Article content lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="#" target="_blank">example of a link</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </td>
    </tr>
</table>
<img src="images/hr.png" width="560" height="1" alt="hr" style="width: 560px;" align="center" class="hr-img" />