<!-- Two columns with image, title and text -->

<table border="0" cellpadding="0" cellspacing="0" width="600" class="article article--two-columns">
	<tr>
    	<td width="300" align="center" valign="top" class="article__column article__column--left">
        	<table border="0" cellpadding="0" cellspacing="0" width="270" height="300">
            	<tr>
                	<td width="270" class="article__image-container">
                    	<img src="images/Placeholders/Postcard.png" width="270" class="article__image img-fluid" mc:label="Left column image" mc:edit="articleLeftImage" />
                    </td>
                </tr>
                <tr>
                	<td width="270" valign="top" class="article__content" mc:label="Left column content" mc:edit="articleLeftContent">
                        <h3>Article title</h3>
			            Column left content ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt quis nostrud.
                    </td>
                </tr>
                <tr>
                	<td width="270" valign="middle" class="article__content pt-20" mc:label="Left column link" mc:edit="articleLeftLink">
			            <a href="#" target="_blank"><strong>Read more</strong></a>
                    </td>
                </tr>
            </table>
        </td>
    	<td width="300" align="center" valign="top" class="article__column article__column--right">
        	<table border="0" cellpadding="0" cellspacing="0" width="270">
            	<tr>
                	<td width="270" class="article__image-container">
                    	<img src="images/Placeholders/Postcard.png" width="270" class="article__image img-fluid" mc:label="Right column image" mc:edit="articleRightImage" />
                    </td>
                </tr>
                <tr>
                	<td width="270" valign="top" class="article__content" mc:label="Right column content" mc:edit="articleRightContent">
                        <h3>Article title</h3>
			            Column right content lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
			            
                    </td>
                </tr>
                <tr>
                	<td width="270" valign="middle" class="article__content pt-20" mc:label="Right column link" mc:edit="articleRightLink">
			            <a href="#" target="_blank"><strong>Read more</strong></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<img src="images/hr.png" width="560" height="1" alt="hr" style="width: 560px;" align="center" class="hr-img" />