<!-- Full-width image, title and text -->

<table border="0" cellpadding="0" cellspacing="0" width="600" class="article article--hero">
	<tr>
    	<td colspan="2" width="600" valign="top" class="article__image-container article__image-container--hero">
        	<img src="images/Placeholders/Banner_Wide.png" width="600" class="article__image img-fluid" mc:label="Hero image" mc:edit="articleImage01" />
        </td>
    </tr>
    <tr>
        <td colspan="2" valign="top" class="article__content p-20" mc:label="Content" mc:edit="articleContent" mc:hideable>
            <h2>Article title</h2>
            <h4>Optional smaller subtitle</h4>
            Article content lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="#" target="_blank">example of a link</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </td>
    </tr>
	<tr>
    	<td valign="top" width="270" class="article__image-container article__image-container--left">
        	<img src="images/Placeholders/Postcard.png" width="270" class="article__image img-fluid" mc:label="Image" mc:edit="articleImage02"  mc:hideable />
        </td>
    	<td valign="top" width="270" class="article__image-container article__image-container--right">
        	<img src="images/Placeholders/Postcard.png" width="270" class="article__image img-fluid" mc:label="Image" mc:edit="articleImage03"  mc:hideable />
        </td>
    </tr>
</table>