<!-- Image on left -->

<table border="0" cellpadding="0" cellspacing="0" width="600" class="article article--image-right">
    <tr height="20">
		<td colspan="4"><img src="images/transparent.png" width="600" height="20" /></td>
	</tr>
	<tr>
        <td width="20"><img src="images/transparent.png" width="20" height="20" /></td>
    	<td valign="top" width="290" class="article__content-container">
	    	<!-- Outlook padding fix using a nested table -->
	    	<table border="0" cellpadding="0" cellspacing="0" width="290">
		    	<tr>
			    	<td valign="top" class="article__content p-20" mc:label="Content" mc:edit="articleContent">
			            <h2>Article title</h2>
			            Column left content ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt quis nostrud.
			    	</td>
		    	</tr>
	    	</table>
        </td>
    	<td valign="top" width="270" class="article__image-container">
        	<img src="images/Placeholders/Square.png" width="270"  align="right" class="article__image img-fluid" mc:label="Image" mc:edit="articleImage01" />
        </td>
        <td width="20"><img src="images/transparent.png" width="20" height="20" /></td>
    </tr>
</table>