<!-- BEGIN FOOTER // -->
<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
  	<tr height="30">
  		<td><img src="images/transparent.png" width="600" height="30" /></td>
  	</tr>
    <tr>
        <td valign="top" width="560" class="footer__content pt-0 pr-20 pb-0 pl-20">
          *|IFNOT:ARCHIVE_PAGE|* 
          	*|LIST:DESCRIPTION|* 
          *|END:IF|* 
          <br />
        	<a href="*|UPDATE_PROFILE|*">Update your subscription preferences</a> or <a href="*|UNSUB|*">unsubscribe</a>.
        	<br />
        	<br />
          *|IF:REWARDS|* *|HTML:REWARDS|* *|END:IF|*
            <em>Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.</em>
            <br />
        	<br />
        	*|IFNOT:ARCHIVE_PAGE|* 
	            <p>Our mailing address is:</p>
        		*|HTML:LIST_ADDRESS_HTML|* 
        	*|END:IF|* 
        </td>
    </tr>
    <tr height="30">
		  <td><img src="images/transparent.png" width="600" height="30" /></td>
	  </tr>
</table>
<!-- // END FOOTER -->