<!-- Gallery with two images -->

<table border="0" cellpadding="0" cellspacing="0" width="600" class="gallery">
    <tr>
        <td width="600" valign="top" class="gallery__content p-20" mc:label="Content" mc:edit="galleryContent">
            <h2>Gallery title</h2>
            Gallery description lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </td>
    </tr>
    <tr>
	    <td width="600" valign="top">
		    <table border="0" cellpadding="0" cellspacing="0" width="600">
				<tr mc:hideable>
			    	<td valign="top" width="270" height="200" class="gallery__image-container gallery__image-container--left">
			        	<img src="images/Placeholders/Postcard.png" width="270" height="200" class="article__image img-fluid" mc:label="Image" mc:edit="galleryImage01" />
			        </td>
			    	<td valign="top" width="270" height="200" class="gallery__image-container gallery__image-container--right">
			        	<img src="images/Placeholders/Postcard.png" width="270" height="200" class="article__image img-fluid" mc:label="Image" mc:edit="galleryImage02" />
			        </td>
			    </tr>
				<tr mc:hideable>
			    	<td valign="top" width="270" height="420" class="gallery__image-container gallery__image-container--left">
			        	<img src="images/Placeholders/Portrait.png" width="270" height="420" class="article__image img-fluid" mc:label="Image" mc:edit="galleryImage03" />
			        </td>
			        <td valign="top" width="270" class="gallery__image-container--right">
				        <table border="0" cellpadding="0" cellspacing="0" width="270">
					        <tr>
						    	<td valign="top" width="270" height="200" class="gallery__image-container gallery__image-container--top">
						        	<img src="images/Placeholders/Postcard.png" width="270" height="200" class="article__image img-fluid" mc:label="Image" mc:edit="galleryImage04" />
						        </td>
					        </tr>
					        <tr>
						    	<td valign="top" width="270" height="200" class="gallery__image-container gallery__image-container--bottom">
						        	<img src="images/Placeholders/Postcard.png" width="270" height="200" class="article__image img-fluid" mc:label="Image" mc:edit="galleryImage05" />
						        </td>
					        </tr>
						</table>
			        </td>
			    </tr>
		    </table>
	    </td>
    </tr>
</table>
<img src="images/hr.png" width="560" height="1" alt="hr" style="width: 560px;" align="center" class="hr-img" />