<!-- BEGIN HEADER // -->
<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" class="header">
  <tr height="20">
	    <td colspan="5" valign="top" width="600" height="20"><img src="images/transparent.png" width="600" height="20" /></td>
	</tr>
	<tr height="80">
	    <td valign="top" width="20" height="80"><img src="images/transparent.png" width="20" height="80" /></td>
	    <td valign="top" width="110" height="80">
  	    <a href="#" title="Logo" class="d-block">Logo</a>
  	   </td>
	    <td valign="top" width="40" height="80"><img src="images/transparent.png" width="40" height="80" /></td>
	    <td valign="top" width="190" height="80" class="headerContent">
	    	<h2 class="header__title" mc:edit="headerTitle">Title</h2>
	    	<div class="header__date" mc:edit="headerDate">*|DATE:F Y|*</div>
	    </td>
	    <td valign="top" width="240" height="80"><img src="images/transparent.png" width="240" height="80" /></td>
	</tr>
  <tr height="20">
	    <td colspan="5" valign="top" width="600" height="20"><img src="images/transparent.png" width="600" height="20" /></td>
	</tr>
</table>
<!-- // END HEADER -->