<table border="0" cellpadding="0" cellspacing="0" width="600" class="intro">
    <tr>
        <td valign="top" class="intro__content">
	        <div  mc:edit="introContent">
            	Introduction lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
	        </div>
        </td>
    </tr>
</table>