<!-- NOTICE -->
<table border="0" cellpadding="0" cellspacing="0" width="600">
	<tr>
	    <td width="600" valign="top" class="p-20">
		    <table border="0" cellpadding="0" cellspacing="0" width="560" class="notice">
			    <tr>
				    <td valign="middle" width="560" class="notice__content p-20" mc:edit="noticeContent">
				        <h4><strong>Lorem ipsum dolor sit amet</strong></h4>
				        Ut enim ad minim veniam, quis nostrud exercitation ullamco.
				    </td>
				  </tr>
		    </table>
	    </td>
	</tr>
</table>