<!-- BEGIN PREHEADER // -->
<table width="600" border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader">
	<tr>
		<td width="20"><img src="images/transparent.png" width="20" height="20" /></td>
		<td valign="top" width="300" align="left">
			<div class="preheader__content" mc:edit="preheaderContent01">Use this area to offer a short teaser of your email's content.</div>
		</td>
		<td valign="top" align="right" width="160" class="preheader__content" mc:edit="preheaderContent02">
			<!-- *|IFNOT:ARCHIVE_PAGE|* -->
				<a href="*|ARCHIVE|*" target="_blank">View in browser</a>
			<!-- *|END:IF|* -->
		</td>
		<td width="20"><img src="images/transparent.png" width="20" height="20" /></td>
	</tr>
  <tr height="10">
	    <td colspan="4" valign="top" width="600" height="10"><img src="images/transparent.png" width="600" height="10" /></td>
	</tr>
</table>
<!-- // END PREHEADER -->