/* /\/\/\/\/\/\/\/\/ MOBILE BASE STYLES /\/\/\/\/\/\/\/\/ */
@media only screen and (max-width: 480px) {
  /* /\/\/\/\/\/\/ CLIENT-SPECIFIC MOBILE STYLES /\/\/\/\/\/\/ */
  body, table, td, p, a, li, blockquote {
    -webkit-text-size-adjust: none !important; }
  /* Prevent Webkit platforms from changing default text sizes */
  body {
    width: 100% !important;
    min-width: 100% !important; }
  /* Prevent iOS Mail from adding padding to the body */
  /* /\/\/\/\/\/\/ MOBILE RESET STYLES /\/\/\/\/\/\/ */
  #bodyCell {
    padding: 10px !important; }
  /* /\/\/\/\/\/\/ MOBILE TEMPLATE STYLES /\/\/\/\/\/\/ */
  /* ======== Page Styles ======== */
  #templateContainer {
    width: 100% !important;
    max-width: 600px !important; }
  /* ======== Header Styles ======== */
  #templatePreheader {
    display: none !important; }
  /* Hide the template preheader to save space */
  #headerImage {
    height: auto !important; }
  /* ======== Column Styles ======== */
  .templateColumnContainer {
    display: block !important;
    width: 100% !important; }
  .columnImage {
    height: auto !important; }
  /* ======== Footer Styles ======== */
  .footerContent a {
    display: block !important; }
  /* Place footer social and utility links on their own lines, for easier access */ }

@media only screen and (max-width: 480px) {
  /* ======== Page Styles ======== */
  h1 {
    font-size: 24px !important;
    line-height: 100% !important; }
  h2 {
    font-size: 20px !important;
    line-height: 100% !important; }
  h3 {
    font-size: 18px !important;
    line-height: 100% !important; }
  h4 {
    font-size: 16px !important;
    line-height: 100% !important; }
  /* ======== Header Styles ======== */
  #headerImage {
    max-width: 600px !important;
    width: 100% !important; }
  .headerContent {
    font-size: 20px !important;
    line-height: 125% !important; }
  /* ======== Body Styles ======== */
  .bodyContent {
    font-size: 18px !important;
    line-height: 125% !important; }
  /* ======== Column Styles ======== */
  .columnImage {
    max-width: 480px !important;
    width: 100% !important; }
  .columnContent {
    font-size: 16px !important;
    line-height: 125% !important; }
  /* ======== Footer Styles ======== */
  .footerContent {
    font-size: 14px !important;
    line-height: 115% !important; } }
