/* /\/\/\/\/\/\/\/\/ CLIENT-SPECIFIC STYLES /\/\/\/\/\/\/\/\/ */
#outlook a {
  padding: 0; }

/* Force Outlook to provide a "view in browser" message */
.ReadMsgBody {
  width: 100%; }

.ExternalClass {
  width: 100%; }

/* Force Hotmail to display emails at full width */
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
  line-height: 100%; }

/* Force Hotmail to display normal line spacing */
body, table, td, p, a, li, blockquote {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* Prevent WebKit and Windows mobile changing default text sizes */
table, td {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt; }

/* Remove spacing between tables in Outlook 2007 and up */
img {
  -ms-interpolation-mode: bicubic; }

/* Allow smoother rendering of resized image in Internet Explorer */
/* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
body {
  margin: 0;
  padding: 0; }

img {
  display: block;
  border: 0;
  line-height: 100%;
  outline: none;
  text-decoration: none; }

table {
  border-collapse: collapse !important; }

body, #bodyTable, #bodyCell {
  height: 100% !important;
  margin: 0;
  padding: 0;
  width: 100% !important; }

td {
  word-break: break-all; }

/* ========== Typography ========== */
h1, .h1 {
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  color: #333333;
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  font-weight: 700;
  mso-line-height-rule: exactly;
  line-height: 100%;
  letter-spacing: normal;
  text-align: left; }

h2, .h2 {
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  color: #333333;
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-weight: 700;
  mso-line-height-rule: exactly;
  line-height: 100%;
  letter-spacing: normal;
  text-align: left; }

h3, .h3 {
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  color: #333333;
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  mso-line-height-rule: exactly;
  line-height: 100%;
  letter-spacing: normal;
  text-align: left; }

h4, .h4 {
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  color: #333333;
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  mso-line-height-rule: exactly;
  line-height: 100%;
  letter-spacing: normal;
  text-align: left; }

p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

strong,
b {
  font-weight: 700; }

.img-fluid {
  display: block;
  max-width: 100%; }

/* ========== Layout ========== */
#templateContainer {
  width: 600px;
  background-color: #FFFFFF; }

#bodyCell {
  padding: 20px; }

.d-block {
  display: block; }

.d-inline-block {
  display: inline-block; }

.d-inline {
  display: inline; }

.p-0 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

.pt-0 {
  padding-top: 0; }

.pr-0 {
  padding-right: 0; }

.pb-0 {
  padding-bottom: 0; }

.pl-0 {
  padding-left: 0; }

.p-20 {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px; }

.pt-20 {
  padding-top: 20px; }

.pr-20 {
  padding-right: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.pl-20 {
  padding-left: 20px; }

.p-30 {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px; }

.pt-30 {
  padding-top: 30px; }

.pr-30 {
  padding-right: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.pl-30 {
  padding-left: 30px; }

.hr {
  margin-top: 0;
  margin-bottom: 0;
  height: 1px;
  border: none;
  background-color: #CCCCCC; }

.hr-img {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  height: 1px; }

/* ========== Body Styles ========== */
body,
#bodyTable {
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif; }

/* ========== Header Styles ========== */
.preheader {
  width: 600px; }

.preheader__content {
  color: #999999;
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
  font-size: 10px;
  mso-line-height-rule: exactly;
  line-height: 125%; }
  .preheader__content a:link,
  .preheader__content a:visited,
  .preheader__content a .yshortcuts {
    color: #999999;
    font-weight: inherit;
    text-decoration: underline; }

.header {
  background-color: #999999; }
  .header td {
    background-color: #999999; }
  .header a:link,
  .header a:visited,
  .header a .yshortcuts,
  .header a span {
    color: #FFFFFF;
    font-weight: inherit;
    text-decoration: underline; }

.header__content {
  text-align: left; }

.header__title {
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #FFFFFF;
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
  font-size: 18px;
  mso-line-height-rule: exactly;
  line-height: 1; }

.header__date {
  color: #FFFFFF;
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
  font-size: 12px;
  mso-line-height-rule: exactly;
  line-height: 1; }

/* ========== Intro ========== */
.intro {
  text-align: center; }

.intro__content {
  padding-top: 40px;
  padding-right: 60px;
  padding-bottom: 40px;
  padding-left: 60px;
  color: #AAAAAA;
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
  font-size: 12px;
  mso-line-height-rule: exactly;
  line-height: 175%; }
  .intro__content a:link,
  .intro__content a:visited,
  .intro__content a .yshortcuts {
    color: #777777;
    font-weight: inherit;
    text-decoration: underline; }

.intro-button {
  display: block;
  width: 144px;
  height: 40px;
  color: #0000CC;
  text-align: center;
  text-decoration: none; }

/* ========== Article ========== */
.article__image-container {
  padding-bottom: 20px; }

.article__image-container--left {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 20px; }

.article__image-container--right {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 10px; }

.article__content {
  font-size: 14px;
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
  font-size: 12px;
  mso-line-height-rule: exactly;
  line-height: 175%;
  font-weight: normal;
  text-align: left; }
  .article__content a:link,
  .article__content a:visited,
  .article__content a .yshortcuts,
  .article__content a span {
    color: #0000CC;
    font-weight: inherit;
    text-decoration: underline; }

.article--hero {
  background-color: #F5F5F5; }
  .article--hero .article__image-container--hero {
    padding-bottom: 0; }

.article__column {
  width: 260px; }

.article__column--left {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 20px; }

.article__column--right {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 10px; }

.article--image-left .article__image-container {
  padding-bottom: 0;
  background-color: #F5F5F5; }

.article--image-left .article__content-container {
  background-color: #F5F5F5; }

.article--image-right .article__image-container {
  padding-bottom: 0;
  background-color: #F5F5F5; }

.article--image-right .article__content-container {
  background-color: #F5F5F5; }

/* ========== Gallery ========== */
.gallery a:link,
.gallery a:visited,
.gallery a .yshortcuts {
  color: #E21935;
  font-weight: inherit;
  text-decoration: underline; }

.gallery__image-container {
  padding-bottom: 20px; }

.gallery__image-container--left {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 20px; }

.gallery__image-container--centre {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px; }

.gallery__image-container--right {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 10px; }

.gallery__image-container--bottom {
  padding-bottom: 0; }

.gallery__content {
  font-size: 14px;
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
  font-size: 12px;
  mso-line-height-rule: exactly;
  line-height: 175%;
  font-weight: normal;
  text-align: left; }
  .gallery__content a:link,
  .gallery__content a:visited,
  .gallery__content a .yshortcuts,
  .gallery__content a span {
    color: #0000CC;
    font-weight: inherit;
    text-decoration: underline; }

/* ========== Table ========== */
.table {
  mso-padding-alt: 5px 5px 5px 5px; }

.table__heading {
  padding: 5px 15px;
  color: #AAAAAA;
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
  font-size: 13px;
  mso-line-height-rule: exactly;
  line-height: 1;
  font-weight: 500;
  background-color: #CCCCCC; }

.table__tr {
  color: #AAAAAA;
  background-color: #FFFFFF; }

.table__tr--even {
  background-color: #F5F5F5; }

.table__td {
  color: #AAAAAA;
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
  font-size: 12px;
  mso-line-height-rule: exactly;
  line-height: 1; }

.table__td--left {
  padding-left: 15px;
  text-align: left; }

.table__td--right {
  padding-right: 15px;
  text-align: right; }

/* ========== Notice ========== */
.notice__content {
  color: #999999;
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
  font-size: 12px;
  mso-line-height-rule: exactly;
  line-height: 175%;
  border: 1px solid #AAAAAA; }
  .notice__content h4 {
    color: #999999; }
  .notice__content a:link,
  .notice__content a:visited,
  .notice__content a .yshortcuts,
  .notice__content a span {
    color: #999999;
    font-weight: 400;
    text-decoration: underline; }

/* ========== Footer Styles ========== */
#templateFooter {
  background-color: #F5F5F5; }

.footer__content {
  color: #999999;
  font-family: Google Sans, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Verdana, sans-serif;
  font-size: 10px;
  font-weight: 400;
  mso-line-height-rule: exactly;
  line-height: 175%;
  text-align: left; }
  .footer__content p {
    color: #999999; }
  .footer__content a:link,
  .footer__content a:visited,
  .footer__content a .yshortcuts,
  .footer__content a span {
    color: #999999;
    font-weight: inherit;
    text-decoration: underline; }

.footer__divider {
  background-color: #AAAAAA; }
