<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
		<head>
			
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>*|MC:SUBJECT|*</title>
        
        <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        
        <style type="text/css">
        	{{> css/styles.css }}
        </style>
            
        <!--[if mso]>
    		<style>
    			body, table, td, p {
    				font-family: Verdana, Arial, Helvetica, sans-serif !important;
    			}
    		</style>
    		<![endif]-->
        
        <!--[if !mso]><!-->
        <style>
        	{{> css/mobile.css }}  
        </style>
        <!--<![endif]-->
        
        <!--[if gte mso 9]>
        <xml>
            <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
        <![endif]-->
        
    </head>
    
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
	    
	    {{# background.show }}
	    	<div style="background-color: {{ background.color }};">
  			<!--[if mso]>
  				<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
  					<v:fill type="tile" src="{{ background.image }}" color="{{ background.color }}"/>
  				</v:background>
  			<![endif]-->
  		{{/ background.show }}
	    
    	<center>
        	<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable"
		        {{# background.show }} background="{{ background.image }}"{{/ background.show }}>
            	<tr>
                	<td align="center" valign="top" id="bodyCell">
	                	
	                	
                    	<!-- BEGIN TEMPLATE // -->
                    	
                    	{{> partials/_preheader }}
                    	
                    	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                        	<tr>
                            	<td width="600" align="center" valign="top">
                                	
                                	{{> partials/_header }}
                              	
                              </td>
                            </tr>
                        	<tr>
                            	<td width="600" align="center" valign="top">
	                            	
	                            		<div id="templateBody">
											
              											<div mc:repeatable="article" mc:variant="Intro">
              												{{> partials/_intro }}
              											</div>
              											<div mc:repeatable="article" mc:variant="Hero image">
              												{{> partials/_article--hero }}
              											</div>
              											<div mc:repeatable="article" mc:variant="Image on left">
              												{{> partials/_article--image-left }}
              											</div>
              											<div mc:repeatable="article" mc:variant="Image on right">
              												{{> partials/_article--image-right }}
              											</div>
              											<div mc:repeatable="article" mc:variant="Text">
              												{{> partials/_article--text }}
              											</div>
              											<div mc:repeatable="article" mc:variant="Two columns">
              												{{> partials/_article--two-columns }}
              											</div>
              											<div mc:repeatable="article" mc:variant="Gallery">
              												{{> partials/_gallery }}
              											</div>
              											<div mc:repeatable="article" mc:variant="Notice">
              												{{> partials/_notice }}
              											</div>
                              	  
	                            		</div>
                              	  
                                </td>
                            </tr>
                        	<tr>
                            	<td width="600" align="center" valign="top">
	                            	
                                {{> partials/_footer }}
                              	
                              </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                        
                        
                    </td>
                </tr>
            </table>
        </center>
	    
	    {{# background.show }}
				</div>
			{{/ background.show }}
        
    </body>
    
</html>